.btn-SelectCard{
    margin: 0;
    padding: 0;
    border: 0;
}

.container-DeckCreated{
    display: grid;
    grid-template-columns: repeat(10, 1fr) ;
    width: 75%;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    gap: 1rem;
}

.cardSelected{
    grid-column: span 1;
    width: 100%;
}
.addCardSwalTitle{
    font-size: 1rem;
}

.btn-saveDeck{
    grid-column: span 10;
    margin: auto;
}

.cardSelected:hover{
    cursor: pointer;
}

@media (max-width: 850px) {
      
    .container-DeckCreated{
        grid-template-columns: repeat(5, 1fr) ;
    }
    .btn-saveDeck{
        grid-column: span 5;
    }
}

@media (max-width: 650px) {
      
    .container-DeckCreated{
        grid-template-columns: repeat(3, 1fr) ;
    }
    .btn-saveDeck{
        grid-column: span 3;
    }
}